<div id="podcast-show">
  <div id="show-banner">
    <div class="wrapper-skinny">
      <h1><%= podcast.title + " " + "Dashboard" %></h1>
    </div>
  </div>
</div>
<div id="links">
  <div class="wrapper-skinny">
    <ul>
      <li><%= link_to "Episodes", root_path %></li>
      <li><%= link_to "New Episode", new_podcast_episode_path(@podcast) %></li>
      <li><%= link_to "Account Settings", edit_podcast_registration_path %></a></li>
      <li><a href="#">View Podcast</a></li>
    </ul>
  </div>
</div>

<div class="form">
  <div class="wrapper-skinny">
    <%= render 'form' %>
  </div>
</div>
