<div id="background">
  <header class="cf">
    <div class="wrapper-wide">
      <%= link_to "SmokeSignals.fm", root_path, id: "logo" %>
      <nav>
        <ul>
          <li><%= link_to "Explore", podcasts_path %></li>
          <li><%= link_to "Sign In", new_podcast_session_path %></li>
          <li><%= link_to "Create a Podcast", new_podcast_registration_path %></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper-skinny">
    <div id="banner">
      <h1>Explore Podcasts from Indian Country or Create Your Own</h1>
      <%= link_to "Create a Podcast", new_podcast_registration_path, class: "btn btn-carrot" %>
      <%= link_to "Explore", podcasts_path, class: "btn btn-turq" %>
    </div>
  </div>
</div>
