<!DOCTYPE html>
<html>
<head>
  <title>Smoke Signals Podcasts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if alert %>
  <div class="notice-wrapper">
    <p class="alert"><%= alert %></p>
  </div>
<% elsif notice %>
  <div class="notice-wrapper">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

<% unless current_page?(root_path) %>
  <%= render 'layouts/header' %>
<% end %>

<%= yield %>

<script>
  $(document).ready(function() {
    setTimeout(function() {
      $('.notice-wrapper').fadeOut("slow", function() {
        $this.remove();
      });
    }, 950 );
  });
</script>

</body>
</html>
